
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    background-color: var(--text-color);
    color: rgb(0,0,0,0.7);

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
    filter: brightness(1.1);
}

:root{
     --main-color: #2196f3;
     --accent-color: #ff4081;
    --text-color: #ffffff;
    --footer-color:#42a5f5;
    --search-input-heigth: 40px;
}
.shadow {
    box-shadow: 0 0.65rem 0.125rem 0.65rem #00000026;
}

